.leaflet-popup-content-wrapper .leaflet-popup-content {
	a {
		cursor: pointer; // because href is removed as the link is done by javascript
	}
	.u-n { // User name
	}
	.u-g span { // User group
	    display: inline-block;
	    margin: 2px 4px 2px 0;
	    padding: 2px 4px;
	    background-color: #CCC;
	    border-radius: 3px;
	}
	.u-p { // User profile

	}
}