#directory-map-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99992;
	-webkit-tap-highlight-color: transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition-duration: 500ms;
	display: flex;
	align-items: center;
	justify-content: center;

	@media @showMapFullScreen {
		align-items: flex-end;
	}

	#directory-map-bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	    background: #1e1e1e;
		opacity: .87;
	    transition-duration: inherit;
	    transition-property: opacity;
		transition-timing-function: cubic-bezier(.22,.61,.36,1);
	}

	#directory-map-toolbar {
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;
	    position: absolute;
	    direction: ltr;
	    z-index: 99997;
	    width: 100%;

	    #directory-map-filters {
	    	position: relative;

		    @media @hideFilters {
		    	& {
		    		display: none;
		    	}
		    }

	    	#directory-map-filters-header {
	    		font-weight: bold;
	    		float: left;
	    		color: #FFF;
				margin: 5px;
				padding: 5px;
	    	}

	    	#directory-map-filters-body {
	    		float: left;
		    	>.filters-profile-field {
					float: left;
					background-color: #FFF;
					margin: 5px;
					border-radius: 3px;
					.filter-header {
						font-weight: bold;
						text-align: center;
						cursor: pointer;
						padding: 5px;
						border-radius: 3px;
						&:hover {
							background-color: #D6E5FF;
						}
						input {
							margin-right: 5px;
						}
					}
					.filter-body {
						max-width: 400px;
						display: none;
						position: absolute;
						background-color: #FFF;
						border-radius: 5px;
						margin-left: -1px;
						border: solid 2px #333;
						border-top-width: 5px;
						>div {
							display: flex;
							align-items: flex-start;
							cursor: pointer;
							padding: 2px 5px;
							&:hover {
								background-color: #D6E5FF;
							}
							input {
								margin-right: 5px;
							}
						}
					}
					&.active:hover, &.active:active {
						.filter-body {
							display: block;
						}
					}
				}
			}

			#directory-map-filters-alert {
				display: none; // showed with javascript
				margin: 5px;
				padding: 5px;
				color: #FF7373;
			}
	    }
		
		button#directory-map-button-close {
    		float: right;
			position: relative;
	        color: #ccc;
		    box-sizing: border-box;
		    display: inline-block;
		    vertical-align: top;
		    width: 44px;
		    height: 44px;
		    margin: 0;
		    padding: 10px;
		    border: 0;
		    border-radius: 0;
		    background: rgba(30,30,30,.6);
		    transition: color .3s ease;
		    cursor: pointer;
		    outline: none;

		    &:hover {
		    	color: #FFF;
		    }
		 
		    svg {
		    	display: block;
				position: relative;
				overflow: visible;
				shape-rendering: geometricPrecision;

				path {
					stroke-width: 3;
					fill: currentColor;
					stroke: currentColor;
					stroke-linejoin: round;
				}
		    }
		}
	}

	#directory-map-content {
		position: relative;
		padding: 0;
		width: 95%;
		height: 80%;
		overflow: visible;
		background: #fff;

		@media @showMapFullScreen {
			width: 100%;
			height: 90%;
		}

		#directory-map-render {
			position: relative;
			width: 100%;
			height: 100%;
		}
	}

	#directory-map-legend {
	    bottom: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;
	    position: absolute;
	    width: 100%;
	    z-index: 99997;

	    @media @hideLegend {
	    	& {
	    		display: none;
	    	}
	    }

	    #directory-map-legend-container {
	    	position: relative;
		    margin: 0 auto;
		    display: flex;
		    padding: 4px 6px;
		    background: #000;
		    color: #fff;

		    #legend-header {
			    margin-right: 10px;
			    font-weight: bold;
			    white-space: nowrap;
			}

			#legend-body {
				span {
					display: inline-block;
				    background-color: #EEE;
				    color: #000;
				    margin: 2px;
				    padding: 2px 4px;
				    border-radius: 3px;
				}
			}
		}
	}

}